body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #4CAF50;
    overflow: hidden;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.navbar-logo {
    color: white;
    font-size: 1.5em;
}

.navbar-search {
    flex: 1;
    margin: 0 20px;
}

.navbar-search input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.navbar-links {
    display: flex;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    padding: 15px;
}

.navbar-links a:hover {
    background-color: lightgreen;
}

.burger-menu {
    font-size: 1.5em;
    color: white;
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 768px) {
    .navbar-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #4CAF50;
    }

    .navbar-links.show {
        display: flex;
    }

    .burger-menu {
        display: block;
    }
}

.dk-footer {
    background-color: #4CAF50;
}

.dk-footer a {
    text-decoration: none;
    color: white;
    font-weight: 400;
}


#myConteneur {
    background-color: #6F7074;
    flex-direction: column;
}

#firstInput {
    border-radius: 0.5rem;
    padding: 0.7rem;
    border :none;
    width: 65rem;
}

#bouton {
    border: none;
    border-radius: 0.2rem;
    padding: 0.5rem;
    background-color: #4CAF50;
    color:white;
}

#boutonformation {
    border: none;
    background-color: #4CAF50;
    color: white;
    padding:  0.7rem;
    border-radius: 0.2rem;
    margin-top: 1.2rem;
}

